@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

:root{
 --light-green: rgba(0, 255, 119, 0.75);
 --dark-blue: rgb(36, 63, 87);
 --very-dark-blue: rgb(17, 35, 52);
 --very-light-blue: rgb(206, 219, 228);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


main{
    background-color: rgba(0, 22, 43, 0.85);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    background-color: rgba(22, 45, 66, 0.75);
    box-shadow: -0.1rem 0.1rem 1rem 0.25rem rgba(5, 5, 5, 0.25);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 100%;
    height: 5rem;
    margin-bottom: 5rem;
    padding: 3rem 5rem;
    font-size: 2rem;
    border-radius: 1rem;
}

.text p{
    margin-right: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 100%;

}


#firstWord{
    color:var(--very-light-blue);
    margin-right: 0.5rem;
    margin-left: 1rem;
}

#next-words{
    margin-right: 1rem;
    color: rgb(113, 180, 238);
}

.new-text
{
    position:absolute;
    right: 10%;
}

.counter{
    margin: 0 0 3rem 0;
}

#correct-words{
    color: var(--light-green);
}

#seconds{
    color: #00D7DF;
}

.count{
    color: var(--very-light-blue);
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
}

/* Input text */

.text-input{
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: none;
    position: relative;
    width: 100%;
}

.text-input input{
    width: 20rem;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 1rem;
    border: none;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    background-color: rgb(33, 67, 99);
    color: var(--very-light-blue);
    transition: all 0.25s linear;
    box-shadow: -0.1rem 0.1rem 1rem 0.25rem rgba(5, 5, 5, 0.15);
}

.text-input input:focus{
    padding: 1rem 0 1rem 0;
    transition: all 0.25s linear;
    box-shadow: -0.1rem 0.1rem 1rem 0.25rem rgba(194, 250, 247, 0.25);
    outline: none;
    
}

.text-input .timer {
    color: var(--very-light-blue);
    margin: 0 1rem 0 1rem;
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
}

.text-input .timer:hover{
    font-size: 2.5rem;
}

.text-input .restart-input{
    transform-origin: center;
    height: fit-content;
    padding: 0;
    display:flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.text-input .restart-input p{
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: var(--very-light-blue);
}

.text-input .restart-input img{
    max-width: 3rem;
    transform-origin: center;
    transition: all 0.25s linear;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.text-input .restart-input img:hover{
    cursor: pointer;
    background-color: none;
    max-width: 3.5rem;
}


.matching{
    color: green;
}

.notMatching{
    color: red;
}


/* Styling the keyboard */
.keyboard{
    box-shadow: -0.1rem 0.1rem 1rem 0.5rem rgba(194, 250, 247, 0.25);
    background-color: rgba(22, 45, 66, 1);
    border-radius: 1rem;
    padding: 0.5rem;
}

.keyboard:hover{

    box-shadow: -0.1rem 0.1rem 1rem 0.25rem rgba(194, 250, 247, 0.75);
    transition-timing-function: ease;
}

.row{
    display: flex;
    justify-content: space-between;
}


a{
    color: var(--light-green);
    text-decoration: none;
}

.key{
    text-decoration: none;
    text-transform: lowercase;
    width: 100%;
    text-align: center;
    padding: 1rem;
    background: #005568;
    margin: 0.25rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--very-light-blue);
    text-shadow: 0 0 0.15rem #253A4F;
    font-family: 'Roboto Mono', monospace;


    /* make keys unselectable */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.key:hover{
    background-color: rgba(127, 255, 212, 0.75);
    box-shadow: -0.1rem 0.1rem 1rem 0.25rem rgba(45, 155, 228, 0.75);
    color: var(--very-dark-blue);
    text-shadow: 0 0 0.15rem var(--very-light-blue);
}

#CapsLock{
    padding: 1rem 0.75rem 1rem 0.75rem;
}

#Space{
    padding: 1rem 10rem 1rem 10rem;
}


#Enter{
    padding: 1rem 3rem 1rem 3rem;
}

.special{
    text-transform: uppercase;
    background-color: #003844;
    font-size: 1.25rem;
}


.keyPressed{
    background-color: rgba(127, 255, 212, 0.75);
    box-shadow: -0.1rem 0.1rem 1rem 0.25rem rgba(45, 155, 228, 0.75);
    color: #253A4F;
    transition: all 0.35s linear;
}

.capsOnKeys{
    text-transform: uppercase;
    transition: all 1s linear;
}

.capsOn{
    box-shadow: -0.1rem 0.1rem 0.75rem 0.5rem rgba(64, 247, 237, 1);
}

#OSLeft img{
    max-width: 2rem;
}


@media only screen and (max-width: 880px){

    .text{
        min-width: fit-content;
        font-size: 1rem;
        padding: 1rem 0.5rem 1rem 0.5rem;
        height: fit-content;
    }

    .text p{
        width: fit-content;
    }

    .count{
        font-size: 1rem;
    }

    #firstWord{
        margin-right: 1rem;
        margin-left: 3rem;
    }


    .text-input{
        max-width: 80%;
        padding: 0.25rem 0 0.25rem 0;
        margin: 0 2rem 3rem 2rem;
    }

    .text-input input:focus{
        padding: 0.75rem 0 0.75rem 0;
        
    }
    

    .text-input input{
        width: 10rem;
    }

    .text-input .restart-input img{
        max-width: 2rem;
    }

    .text-input .restart-input img:hover{
        max-width: 2.5rem;
    }
    

    .text-input .timer{
        font-size: 1rem;
        margin-right: 0;
    }

    .text-input .timer:hover{
        font-size: 1.5rem;
    }

    .keyboard{
        max-width: 95vw;
    }

    .key{
        margin: 0.1rem;
        padding: 0.4rem;
        font-size: 0.35rem;
        text-align: center;
        border-radius: 0.25rem;

        display: flex;
        justify-content: center;
        align-items: center

    }

    .special{
        width: 100%;
        margin: 0.25rem;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        font-size: 0.35rem;
    }

    #CapsLock{
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    
    #Space{
        padding: 0.5rem 3.5rem 0.5rem 3.5rem;
    }
    
    
    #Enter{
        padding: 0.5rem 1rem 0.5rem  1rem;

    }

    #OSLeft img{
        min-width: 0.5rem;
    }
}